{% extends 'main_layout.html.twig' %}

{% block title %}Notes{% endblock %}

{% block header %}
    <h1>Notes</h1>
{% endblock %}

{% block content %}
    <a href="{{ path("notes") }}">List notes</a>
{% endblock %}
