{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
    <header>
        <h1>Notes</h1>
    </header>

    <div class="content">
        <a href="{{ path("notes") }}">List notes</a>
    </div>
{% endblock %}
