{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block content %}
    <div class="summary">
        <a class="btn btn-primary" href="{{ path("notes") }}">List notes</a>
    </div>
{% endblock %}
