.content {
    max-width: 1000px;
    margin: auto;
}

.flash-message {
    padding: 1rem;
}

.flash-notice {
    background-color: #5eb5e0;
    color: darkslategray;
}

.flash-success {
    background-color: #aacd4e;
    color: darkslategray;
}
