{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("/css/note_form.css") }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1>Create a note</h1>
    {% include 'note/component/note_form.html.twig' %}
    <a href="{{ path("notes") }}">Cancel</a>
</div>
{% endblock %}
