{% extends 'main_layout.html.twig' %}

{% block title %}Notes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("/css/note_form.css") }}">
{% endblock %}

{% block header %}
    <h1>Edit a note</h1>
{% endblock %}

{% block content %}
    {% include 'note/component/note_form.html.twig' %}
    <a href="{{ path("notes") }}">Cancel</a>
{% endblock %}
