{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
<div class="content">
    <ul>
        {% for note in notes %}
            <li><a href="{{ path("notes_show", {id: note.id}) }}">{{ note.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
