{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block header %}
    <h1>{{ note.title }}</h1>
{% endblock %}

{% block content %}
    <ul>
        <li><a class="btn btn-warning" href="{{ path("notes_edit", {id: note.id}) }}">Edit</a></li>
        <li><a class="btn btn-danger" href="{{ path("notes_delete", {id: note.id}) }}">Delete</a></li>
    </ul>
    {{ note.content }}
{% endblock %}
